* {
    padding: 0;
    margin: 0;
    color: #FFFAF1;
}

body {
    font-family: Helvetic, sans-serif;
    background-color: #FFDA95;
    text-align: center;
}

img {
    width: 480px;
    height: auto;
}

.title {
    background-color: #CEA75E;
    font-size: 36px;
    width: 600px;
    margin: 16px auto;
    padding: 8px;
}

.content {
    background-color: #CEA75E;
    width: 600px;
    margin: 16px auto;
    padding: 8px;
}

.header {
    background-color: #D5BA88;
    margin: 8px;
    padding: 16px;
}

p, ol {
    margin: auto 32px;
}

ul {
    margin: 8px auto;
    list-style-type: none;
}